<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?125"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/js/sockets.js"></script>
    <script type="text/javascript" src="/js/player.js"></script>
    <script type="text/javascript" src="/js/vk_func.js"></script>
    <script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.lazy.min.js"></script>

    <link href="/css/introjs.css" rel="stylesheet">
    <script type="text/javascript" src="/js/intro.js"></script>
</footer>