<head>
    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="theme-color" content="blue">
    <meta name=viewport content="initial-scale=0.6, minimum-scale=0.5, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="Description" content="Приложение ChronoTone для синхронизации музыки между Вконтакте, ПК и вашим смартфоном">
    <meta name="Keywords" content="ChronoTone, музыка, вконтакте, синхронизация, программа, приложение, android">
    <meta name="application-name" content="ChronoTone" />

    <link href="/css/loader.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,400i&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">

</head>