<div id="loader_wrapper">
    <div id="loader"></div>
    <div class="loader_section section_left"></div>
    <div class="block loader_logo">
        <img src="/images/logo.png" style="max-width: 100%">
    </div>
    <p class="block loader_text">Loading</p>
    <p id="load_percent" class="block">0%</p>
    <div id="ballsWaveG">
        <div id="ballsWaveG_1" class="ballsWaveG"></div>
        <div id="ballsWaveG_2" class="ballsWaveG"></div>
        <div id="ballsWaveG_3" class="ballsWaveG"></div>
        <div id="ballsWaveG_4" class="ballsWaveG"></div>
        <div id="ballsWaveG_5" class="ballsWaveG"></div>
        <div id="ballsWaveG_6" class="ballsWaveG"></div>
        <div id="ballsWaveG_7" class="ballsWaveG"></div>
        <div id="ballsWaveG_8" class="ballsWaveG"></div>
    </div>
    <div class="loader_section section_right"></div>
</div>