<div id="lock_wrapper" style="display: none">
    <div id="lock"></div>
    <div class="lock_section section_left"></div>
    <div class="lock lock_logo">
        <img src="/images/logo.png" style="max-width: 100%;cursor: pointer;" onclick="location = '/';">
    </div>
    <p class="lock lock_text">Locked</p>
    <div class="lock_section section_right"></div>
</div>