<div id="main_menu">
    <div id="menu" style="padding-top: 20px;position: absolute;width:100%">
        <div id="menu_playlist" class="menu_item active" onclick="activeBlock.show(this, 'playlist')">ChronoTone</div>
        <div id="menu_search" class="menu_item search_block" style="display: none"
             onclick="activeBlock.show(this, 'search_block')">Поиск
        </div>
        <div id="menu_settings" class="menu_item settings_block"
             onclick="$('#menu').fadeOut(200);$('#settings').fadeIn(200);">Настройки
        </div>

        <% if(admin == true){ %>
            <div id="menu_admin" class="menu_item admin_block">/dev/null</div>
        <% } %>

        <div id="menu_exit" class="menu_item" onclick="VK.Auth.logout(authInfo)">Выход</div>
    </div>

    <% include settings.ejs %>

</div>