<div id="player_control">
    <table style=" width: 100%;height: 100%;padding: 0;border-spacing: 0;">
        <tr style="height: 50%;width: 100%;float: left;">
            <th rowspan="2" style="width: 300px;height: 60px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;position: relative;" ondragstart="return false">
                <img id="btn_prev" src="/images/player/prev_btn_sm.png" onclick="player.mainFn({EVENT:'skip', SIDE:'prev'});" title="Предыдущий трек" alt="Предыдущий трек">
                <img id="btn_play" src="/images/player/play_btn_sm.png" onclick="player.mainFn({EVENT:'playPause'});" title="Плей" alt="Плей">
                <img id="btn_pause" src="/images/player/pause_btn_sm.png" onclick="player.mainFn({EVENT:'playPause'});" class="hide" title="Пауза" alt="Пауза">
                <img id="btn_next" src="/images/player/next_btn_sm.png" onclick="player.mainFn({EVENT:'skip', SIDE:'next'});" title="Следующий трек" alt="Следующий трек">
                <img id="btn_loop" src="/images/player/rewind_btn_sm.png" onclick="player.mainFn({EVENT:'rewind'});" title="Повтор" alt="Повтор">
                <img id="btn_shuffle" src="/images/player/shuffle_btn_sm.png" onclick="player.mainFn({EVENT:'shuffle'});" title="Перемешать" alt="Перемешать">
                <div id="bar_volume_slider" title="Громкость" alt="Громкость">
                    <div id="volume" title="Set volume">
                        <span class="volumeBar" style="width: 63.5%;"></span>
                    </div>
                    <div id="mute_btn" onclick="player.mute()" class=""></div>
                </div>
                <div id="online_role" title="Роль">Owner</div>
                <div id="online_now" title="Слушателей онлайн: Offline" onclick="if(socket.open === false && socket.state !== 'Connecting') socket.start()">
                    <img src="/images/ear.png" alt="Слушателей онлайн" style="padding-top: 1px;height: 25px;">
                    <p id="user_counter" style="display: inline;color: white;position: relative;top: -5px; padding-left: 5px;">Offline</p>
                </div>
            </th>
            <th style="text-align: left;">
                <span id="head_author" title="Автор"></span><span id="head_semi" title="Разделитель">-</span><span id="head_title" title="Название"></span>
            </th>
        </tr>
        <tr style="height: 50%;">
            <td>
                <div id="bar_track_slider">
                    <div class="track_slider">
                        <span class="track_bar"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>