<div id="settings" style="padding-top: 20px; display:none">
    <div id="settings_back" class="menu_item" style="background-color: rgba(255, 255, 255, 0.15);"
         onclick="$('#menu').fadeIn(200);$('#settings').fadeOut(200);">
        <img src="/images/arrow.png"
             style="height: 35px;margin-bottom: -6px;width: 35px;position: relative;left: -10px;">
        <span style="display:inline-block;margin: 0;left: -15px;position:relative;">Настройки</span>
    </div>
    <div id="set_massPlay" class="settings_item">
        <p style="color: #007eff;">MassPlay:</p>
        <select id="server_select" onchange="setServer(this)">
            <option value="ws://192.168.0.77">Server #1 /*.0.77/</option>
            <option value="ws://defdev.tk">Server #2 /defdev.tk/</option>
        </select>
        <label for="auto_conn" style="display: inline-block;padding-top: 10px;">AutoConnect</label>
        <input id="auto_conn" type="checkbox"
               style="display: inline-block;width: 17px;height: 17px;position: relative;margin-left: 10px;top: 2px;"
               onchange="autoConn(this)">
    </div>
    <div id="set_massPlay_id">
        <div>Ваш ID:</div>
        <div id="partyId" onclick="selectText(this);">___-___</div>
        <div>Подключиться:</div>
        <input id="conn_partyId" placeholder="123-456" maxlength="7">
    </div>
    <div id="set_acc" class="settings_item">
        <p style="color: #e700ae;">Account Set's:</p>
        <span id="settings_name">Name: </span>
        <span id="settings_status">Status: </span>
    </div>
    <p id="set_introAgain" style="color:white;cursor:pointer" onclick="introAgain()">Повторить обучение</p>
</div>