@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    background-color: #222222;
}

div#header {
    position: fixed;
    width: 100%;
    height: 47px;
}

div.logo_home {
    padding-top: 10px;
    width: 600px;
    height: 90px;
    margin: auto;
}

div.logo_home img {
    max-width: 100%;
}

header {
    position: fixed;
    width: 100%;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 46px;
}

ul#menu li {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
}

ul#menu li:hover {
    background-color: #111;
}

#features {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    border-spacing: 0;
}

#features #logo {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/index/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
}

#features img {
	width: 45%;
}

#features #slide1 {
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/index/src1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
    #features img {
        width: 60%;
    }
}