body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #222222;
    font: 12px Verdana, Arial, sans-serif;
}

body canvas {
    position: absolute
}

.login {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -151px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    text-align: center;
    border-radius: 5px;
}

.login .login_logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(/images/logo.png) no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
}

form {
    display: inline;
    padding: 0;
    margin: 0;
}

.login input {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    padding: 5px 16px;
    width: 100%;
    font-size: 14px;
    color: #444;
    background: padding-box #FEFEFE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-color: #D4D4D4;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    line-height: normal;
}

.login .login_buttons {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 0;
}

ul {
    list-style-position: inside;
}

.login .login_buttons li {
    display: inline-block;
    list-style: none;
    width: 100px;
}

.login .login_buttons li div, .login .login_buttons li input {
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #222222;
    border-radius: 50px;
    line-height: 2;
    color: #222222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login .login_buttons li .fa-arrow-right {
    color: #989898;
    border: 1px solid #989898;
}