#loader_wrapper .loader_section, #lock_wrapper .lock_section {
    position: fixed;
    top: 0;
    width: 53%;
    height: 100%;
    z-index: 100000;
    background-size: 4rem 4rem, 4rem 4rem, 100%;
    background-repeat: repeat-y;
}

#lock_wrapper .lock_section {
    width: 0;
    z-index: 150000;
}

.block, .lock {
    position: fixed;
    z-index: 100001;
    font-family: "MyriadProRegular";
    font-style: normal;
    font-weight: normal;
}

.loader_logo, .lock_logo {
    width: 15vw;
    max-width: 250px;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

.loader_text, .lock_text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    letter-spacing: 3px;
}

.lock_logo, .lock_text {
    z-index: 150001;
    opacity: 0;
}

#load_percent {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    color: #717171;
    font-size: 3em;
}

#loader_wrapper .loader_section.section_left,
#lock_wrapper .lock_section.section_left{
    left: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, 0) 50%, rgba(34, 34, 34, 1) 50%), linear-gradient( -135deg, rgba(255, 255, 255, 0) 50%, rgba(34, 34, 34, 1) 50%), linear-gradient(to right, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 1) calc(100% - 4rem), rgba(34, 34, 34, 0) calc(100% - 3rem), rgba(34, 34, 34, 0) 100%);
    background-position: right center, right center;
}

#loader_wrapper .loader_section.section_right,
#lock_wrapper .lock_section.section_right {
    right: 0;
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, 0) 50%, rgba(34, 34, 34, 1) 50%), linear-gradient( 135deg, rgba(255, 255, 255, 0) 50%, rgba(34, 34, 34, 1) 50%), linear-gradient(to left, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 1) calc(100% - 4rem), rgba(34, 34, 34, 0) calc(100% - 3rem), rgba(34, 34, 34, 0) 100%);
    background-position: left -0.45rem, left -0.45rem;
}

#ballsWaveG {
    position: fixed;
    z-index: 100001;
    width: 144px;
    height: 20px;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -82%);
}

.ballsWaveG {
    position: absolute;
    top: 0;
    background-color: rgb(77, 77, 77);
    width: 18px;
    height: 18px;
    animation-name: ballsWaveG;
    -o-animation-name: ballsWaveG;
    -ms-animation-name: ballsWaveG;
    -webkit-animation-name: ballsWaveG;
    -moz-animation-name: ballsWaveG;
    animation-duration: 1.105s;
    -o-animation-duration: 1.105s;
    -ms-animation-duration: 1.105s;
    -webkit-animation-duration: 1.105s;
    -moz-animation-duration: 1.105s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#ballsWaveG_1 {
    left: 0;
    animation-delay: 0.446s;
    -o-animation-delay: 0.446s;
    -ms-animation-delay: 0.446s;
    -webkit-animation-delay: 0.446s;
    -moz-animation-delay: 0.446s;
}

#ballsWaveG_2 {
    left: 18px;
    animation-delay: 0.5525s;
    -o-animation-delay: 0.5525s;
    -ms-animation-delay: 0.5525s;
    -webkit-animation-delay: 0.5525s;
    -moz-animation-delay: 0.5525s;
}

#ballsWaveG_3 {
    left: 36px;
    animation-delay: 0.659s;
    -o-animation-delay: 0.659s;
    -ms-animation-delay: 0.659s;
    -webkit-animation-delay: 0.659s;
    -moz-animation-delay: 0.659s;
}

#ballsWaveG_4 {
    left: 54px;
    animation-delay: 0.7755s;
    -o-animation-delay: 0.7755s;
    -ms-animation-delay: 0.7755s;
    -webkit-animation-delay: 0.7755s;
    -moz-animation-delay: 0.7755s;
}

#ballsWaveG_5 {
    left: 72px;
    animation-delay: 0.882s;
    -o-animation-delay: 0.882s;
    -ms-animation-delay: 0.882s;
    -webkit-animation-delay: 0.882s;
    -moz-animation-delay: 0.882s;
}

#ballsWaveG_6 {
    left: 90px;
    animation-delay: 0.9985s;
    -o-animation-delay: 0.9985s;
    -ms-animation-delay: 0.9985s;
    -webkit-animation-delay: 0.9985s;
    -moz-animation-delay: 0.9985s;
}

#ballsWaveG_7 {
    left: 108px;
    animation-delay: 1.105s;
    -o-animation-delay: 1.105s;
    -ms-animation-delay: 1.105s;
    -webkit-animation-delay: 1.105s;
    -moz-animation-delay: 1.105s;
}

#ballsWaveG_8 {
    left: 126px;
    animation-delay: 1.2115s;
    -o-animation-delay: 1.2115s;
    -ms-animation-delay: 1.2115s;
    -webkit-animation-delay: 1.2115s;
    -moz-animation-delay: 1.2115s;
}

@keyframes ballsWaveG {
    0% {
        background-color: rgb(133, 60, 217);
    }
    100% {
        background-color: rgb(43, 92, 240);
    }
}

@-o-keyframes ballsWaveG {
    0% {
        background-color: rgb(133, 60, 217);
    }
    100% {
        background-color: rgb(43, 92, 240);
    }
}

@-ms-keyframes ballsWaveG {
    0% {
        background-color: rgb(133, 60, 217);
    }
    100% {
        background-color: rgb(43, 92, 240);
    }
}

@-webkit-keyframes ballsWaveG {
    0% {
        background-color: rgb(133, 60, 217);
    }
    100% {
        background-color: rgb(43, 92, 240);
    }
}

@-moz-keyframes ballsWaveG {
    0% {
        background-color: rgb(133, 60, 217);
    }
    100% {
        background-color: rgb(43, 92, 240);
    }
}