@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*font-family: 'Roboto',*/
/*sans-serif;*/
/*font-family: 'Open Sans',*/
/*sans-serif;*/

html {
    height: 100%;
    overflow: auto;
}

/*noinspection ALL*/
body {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Roboto";
    background-image: url(/images/background.png);
    background-position-y: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
}

#chronoTable {
    width: 90%;
    height: calc(100% - 100px);
    top: 100px;
    left: 5%;
    position: relative;
}

#main_menu {
    height: 100%;
    background-color: rgba(47, 50, 98, 0.6);
    border-radius: 20px;
    position: relative;
    overflow-y: scroll;
}

.menu_item {
    cursor: pointer;
    display: block;
    color: #1f1b27;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    white-space: nowrap;
    /*noinspection CssNoGenericFontName*/
    font-family: MyriadProRegular;
    font-style: normal;
    font-weight: normal;
}

.menu_item:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.3);
}

div.settings_item {
    text-align: left;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 20px;
    word-wrap: break-word;
}

div.settings_item p {
    margin: 0;
}

.settings_item span,
.settings_item label {
    padding-left: 15px;
    padding-top: 5px;
    display: block;
    font-size: 17px;
}

.settings_item select::-ms-expand {
    display: none;
}

.settings_item select {
    top: 5px;
    left: 15px;
    position: relative;
    font-size: 18px;
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#set_massPlay select,
#set_massPlay label {
    color: #abc7e3;
}

#set_acc span {
    color: #edc8ec;
}

div#set_massPlay_id {
    margin: 5px 5px 0 5px;
    padding: 5px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    color: #abc7e3;
    font-weight: normal;
    font-style: normal;
    font-family: "MyriadProRegular";
}

div#partyId {
    padding: 5px 0 0px 0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin: 0 5% 5px 5%;
}

input#conn_partyId {
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 0 5px 0;
    font-size: 16px;
    max-width: 100%;
    width: 90%;
    margin: 0 5% 0 5%;
}

.active {
    background-color: rgba(255, 255, 255, 0.15);
}

#chronotone {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    margin-top: 2px;
    height: calc(100% - 35px);
    background-color: rgba(126, 153, 255, 0.29);
    border-radius: 0 0 20px 20px;
}

#playlist,
.main_block {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

.main_block {
    display: none;
}

/*noinspection CssNoGenericFontName*/
h1 {
    font-family: "Roboto";
    font-size: 72px;
    color: #43484d;
    font-weight: lighter;
}

/*noinspection ALL*/
h2 {
    font-family: "Roboto";
    font-size: 30px;
    color: #43484d;
    font-weight: lighter;
}

.track {
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.playpause_btn {
    display: inline-block;
    padding: 3px 0 0;
}

.play_btn {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    outline: none;
    border: solid 1px white;
}

.play_btn:not(.now_playing):before {
    content: '';
    border: 8px solid transparent;
    border-left: 12px solid #fff;
    display: block;
    left: 7.5px;
    top: 4px;
    position: relative;
    height: 0;
}

.play_btn.now_playing:after {
    content: '';
    position: relative;
    left: 7px;
    top: 5px;
    display: block;
    width: 4px;
    height: 14px;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}

.audio_title_wrap {
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    height: 100%;
    box-sizing: border-box;
    float: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artist {
    outline: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    float: right;
    max-width: 95%;
    overflow: hidden;
    font-weight: 600;
    /*noinspection CssNoGenericFontName*/
    font-family: "Open Sans";
}

.artist_block {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.title {
    font-size: 12px;
    padding-left: 10px;
    vertical-align: top;
    float: left;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*noinspection CssNoGenericFontName*/
    font-family: "Roboto";
    font-style: italic;
    color: white;
    letter-spacing: 0.7px;
}

.title_block {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

/*noinspection CssUnusedSymbol*/
.have_lyrics {
    color: #53f7e0;
}

/*noinspection CssUnusedSymbol*/
.have_lyrics:hover {
    text-decoration: underline;
}

.timer {
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
    position: absolute;
    color: #b3b3b3;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50px;
    float: right;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track_block:hover .timer {
    opacity: 0;
}

.lyrics {
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    position: relative;
    word-break: normal;
    white-space: pre;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    color: white;
    /*noinspection CssNoGenericFontName*/
    font-family: "Open Sans";
    font-weight: 100;
}

.lyrics_hiden {
    height: 0;
    padding-bottom: 0;
}

.add_btn_block {
    position: relative;
    float: right;
    right: 5px;
    opacity: 0;
    font-size: 20px;
    color: #dadada;
    /*
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
*/
}

.add_btn:hover {
    color: white;
}

.track_block:hover .add_btn_block {
    opacity: 0.8;
}

.remove_btn .add_btn {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#chart_block .add_btn_block.remove_btn {
    right: 45px !important;
}

#playlist_search {
    height: 30px;
}

input#audio_search {
    outline: none;
    box-shadow: none;
    cursor: auto;
    display: inline-block;
    font: 13.3333px Arial;
    height: 95%;
    border: none;
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(126, 153, 255, 0.29);
    border-radius: 20px 20px 0 0;
    padding: 0 0 1px;
}

#chronotone div[l="l"]:not(.audio_row_current):hover {
    background-color: rgba(110, 0, 255, 0.1);
}

#chronotone div[l="l"].audio_row_current {
    background-color: rgba(0, 188, 212, 0.25);
}

/*noinspection CssUnusedSymbol*/
.track_block:not(.audio_row_current):hover {
    background-color: rgba(110, 0, 255, 0.1);
}

/*noinspection CssUnusedSymbol*/
.track_block.audio_row_current {
    background-color: rgba(0, 188, 212, 0.25);
}

.now_playing {
    background-position: 8px -15px;
}

div#player_control {
    height: 120px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(62, 51, 98, 0.57);
    box-shadow: 0 -10px 25px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

img#btn_prev {
    cursor: pointer;
    position: absolute;
    top: 17px;
    left: 8px;
    height: 50px;
    border-radius: 50px;
    z-index: 98;
    transform: rotate(-15deg);
}

img#btn_play,
img#btn_pause {
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 40px;
    border-radius: 50px;
    z-index: 99;
    transform: rotate(-15deg);
}

img#btn_next {
    cursor: pointer;
    position: absolute;
    left: 121.4px;
    top: 53px;
    height: 50px;
    border-radius: 50px;
    z-index: 100;
    transform: rotate(-15deg);
}

img#btn_loop {
    cursor: pointer;
    position: absolute;
    left: 172px;
    height: 50px;
    border-radius: 50px;
    top: 53px;
    transform: rotate(-15deg);
}

img#btn_shuffle {
    cursor: pointer;
    position: absolute;
    left: 223px;
    height: 50px;
    border-radius: 50px;
    top: 53px;
    transform: rotate(-15deg);
}

.hide {
    display: none !important;
}

div#bar_track_slider {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    top: 99%;
    left: 300px;
    position: relative;
    width: calc(100% - 330px);
}

div.track_slider {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

span.track_bar {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    display: block;
    height: 13px;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 10;
    width: 13px !important;
    border-radius: 30px;
    background-color: white;
}

div.track_slider:hover {
    height: 15px;
}

div.track_slider:hover .track_bar {
    top: 1px;
}

div#bar_volume_slider {
    min-width: 125px;
    position: absolute;
    left: 150px;
    top: 35px;
}

#volume {
    position: relative;
    cursor: pointer;
    width: 99px;
    height: 7px;
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 4px;
}

.volumeBar {
    display: block;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 255, 0.8);
    z-index: 10;
    width: 30%;
    border-radius: 50px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

#volume:hover,
#volume:hover .volumeBar {
    height: 10px;
    top: 1px;
}

/*noinspection CssUnknownTarget*/
#mute_btn {
    background: url(/images/mute_btn.png) no-repeat;
    display: inline-block;
    height: 15px;
    width: 20px;
    padding-right: 5px;
    position: relative;
}

.muted {
    background-position-y: -25px;
}

span#head_author {
    display: inline-block;
    color: white;
    font-size: 30px;
}

span#head_semi {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 30px;
}

span#head_title::-moz-selection,
span#head_semi::-moz-selection,
span#head_author::-moz-selection {
    background-color: rgba(0, 0, 0, 0.44);
}

span#head_title::selection,
span#head_semi::selection,
span#head_author::selection {
    background-color: rgba(0, 0, 0, 0.44);
}

span#head_title {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

#online_now {
    position: absolute;
    left: 205px;
    top: 5px;
    height: 27px;
}

#online_role {
    position: absolute;
    top: 11px;
    left: 145px;
    color: #49ff93;
    display: none;
    cursor: default;
}

/*Active element border*/
:focus {
    outline: none;
}

/*Active element border*/

/*scrollbar*/
::-webkit-scrollbar {
    width: 0;
/*remove scrollbar space */

    background: transparent;
/*optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
    display: none;
}

/*scrollbar*/

/*Yandex Translate Bug*/
/*noinspection CssUnusedSymbol*/
#gtx-anchor {
    max-width: 100%;
}

/*Yandex Translate Bug*/