<div class="err_msg">
    <h1><%= error %></h1>
    <h2><%= message %></h2>
</div>

<style>
    @font-face {
        font-family: "MyriadProRegular";
        src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
        src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

    body {
        display: table;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #222222;
        color: white;
    }

    .err_msg {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-family: "MyriadProRegular";
        font-style: normal;
        font-weight: normal;
    }

    h1 {
        font-size: 5em;
        margin: 0;
    }

    h2 {
        font-size: 3em;
        margin: 0;
    }

</style>