<!doctype html>
<html>
<% include index/head.ejs %>

<header>
    <ul id="menu">
        <li onclick="location.href = '/join'" class="menu_chronotone_btn">Вход</li>
    </ul>
</header>

<body>
<table id="features">
    <tr>
        <th id="logo">
            <img src="/images/index/ct_aurora_logo.png">
        </th>
    </tr>
    <tr>
        <td id="slide1">
            <img src="/images/index/ct_aurora_slide_1_text.png">
        </td>
    </tr>
</table>
</body>
</html>

<link href="/css/index_style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Gruppo|Libre+Baskerville|Open+Sans|Roboto|Bad+Script"
      rel="stylesheet">
<link rel="stylesheet" href="fonts/css/font-awesome.min.css">