<!doctype html>
<html>
<head>
    <title>Авторизация</title>

    <meta name="theme-color" content="blue">
    <meta name=viewport content="width=500">
    <meta name="Description"
          content="Приложение ChronoTone для синхронизации музыки между Вконтакте, ПК и вашим смартфоном">
    <meta name="Keywords" content="ChronoTone, музыка, вконтакте, синхронизация, программа, приложение, android">
    <meta name="application-name" content="ChronoTone"/>

    <link href="https://fonts.googleapis.com/css?family=Gruppo|Libre+Baskerville|Open+Sans|Roboto|Bad+Script"
          rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/join.css">
</head>

<body>
<div class="login">
    <div class="login_logo" onclick="location = '/';" style="cursor: pointer"></div>
    <form>
        <input class="uid" name="login" placeholder="E-Mail or login" size="20" maxlength="30" value="" tabindex="101"
               autocapitalize="none" autocorrect="off" required="" autofocus="" type="text" disabled>
        <input class="password" name="password" placeholder="Password" size="20" maxlength="60" value="" tabindex="102"
               autocapitalize="none" autocorrect="off" required="" type="password" disabled>
        <ul class="login_buttons">
            <li>
                <div class="login_btn fa fa-arrow-right" type="submit" value="Log In" disabled></div>

            </li>
            <li>
                <div class="vk_auth fa fa-vk" onclick="VK.Auth.login(authInfo, VK.access.AUDIO)"></div>
            </li>
        </ul>
    </form>

</div>
</body>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?125"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</footer>
</html>