<!doctype html>
<html>

<% include player/head.ejs %>

    <body>

    <script>
        var timeOffset = ( <%= Date.now() %> - Date.now() ) / 1000;
    </script>

    <% include player/loader.ejs %>

        <div id="logo" style="position:absolute;width:100px;left:80%;top:1%;max-height:60px;cursor:pointer;">
            <img src="/images/ct_aurora_logo.png" style=" max-width: 100%;max-height: 100%;">
        </div>

        <table id="chronoTable" cellspacing="10">
            <tr>
                <th style="width: 80%; height: 100%;">
                    <div id="playlist_search">
                        <input type="text" class="ui_search_field _field" id="audio_search" autocomplete="off" autocorrect="off"
                               onchange="search(this.value)" autocapitalize="off" spellcheck="false"
                               placeholder="Поиск">
                        <div id="search_clear" style="cursor:pointer; color:#b7b7b7; position:absolute;    font-size:20px"
                             onclick="$('#playlist_search').children('input').val(''); search('')" class="fa fa-times"></div>
                    </div>
                    <div id="chronotone">
                        <div id="playlist"></div>
                        <div id="search_block" class="main_block"></div>
                    </div>
                </th>
                <th rowspan="2" class="chronoTable_right">
                    <% include player/menu.ejs%>
                </th>
            </tr>
            <tr>
                <td>
                    <% include player/player_control.ejs%>
                </td>
            </tr>
        </table>
    </body>

<% include player/footer.ejs %>
<% include player/lock.ejs %>

</html>