<head>
    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="theme-color" content="blue">
    <meta name=viewport content="width=500">
    <meta name="Description"
          content="Приложение ChronoTone для синхронизации музыки между Вконтакте, ПК и вашим смартфоном">
    <meta name="Keywords" content="ChronoTone, музыка, вконтакте, синхронизация, программа, приложение, android">
    <meta name="application-name" content="ChronoTone"/>
</head>